.form-input-height {
    width: 118px;
    height: 76px;
    border-radius: 60px;
    background-color: #414260;
    border: 1px solid #EDEDED;
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.title-row {
    line-height: 23.87px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
}

.form-input-weight {
    width: 247px;
    height: 76px;
    border-radius: 60px;
    background-color: #414260;
    border: 1px solid #EDEDED;
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}














.step-title {
    font-size: 28px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 33.41px;
    text-align: center;
    text-transform: uppercase;
}

.container-step-one {
    width: 385px;
    margin: 0 auto;
}

.step-text {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 23.87px;
    text-align: center;
    width: 366px;
    margin: 14px auto;
}




/* 
.text-decoration-1 {
    background-color: #2ECDCD;
    width: 351px;
    height: 3.45px;
    margin: 0 auto;
    opacity: 0.2;
} */

.input-style-weight {
    width: 256px;
    height: 76px;
    border-radius: 60px;
    background-color: #414260;
    border: 1px solid #EDEDED;
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.input-box {
    position: relative;
}

.unit {
    position: absolute;
    display: block;
    right: 16px;
    top: 30px;
    z-index: 9;
    font-size: 20px;
    color: white;
    border-width: 500;
}