.current-step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 45px;
}

.active-step {
  color: white;
  font-size: 22.78px;
  font-weight: 500;
  line-height: 27.18px;
}

.privacy {
  color: #9B9CA7;
  text-decoration: solid underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
  font-size: 22.78px;
  font-weight: 500;
}

/* PROGRESS BAR */
.progressbar {
  width: 385px;
  height: 4px;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 40px;
  margin-bottom: 40px
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: #2ECDCD;
  transition: all .7s;
  border-radius: 40px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 33.41px;
  text-align: center;
  text-transform: uppercase;
}

.line {
  background-color: #2ECDCD;
  width: 351px;
  height: 3.45px;
  margin: 0 auto;
  opacity: 0.2;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 0;
  left: 0;
}

.button-back {
  width: 160px;
  height: 63px;
  font-size: 17px;
  background-color: #414260;
  border-radius: 60px;
  cursor: pointer;
  color: #2ECDCD;
  border: 1px solid #EDEDED;
}

.button-next {
  width: 160px;
  height: 63px;
  font-size: 17px;
  background-color: #2ECDCD;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  color: white
}

@media screen and (max-device-width: 1200px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
  .container {
    width: 380px;
    margin: 0 auto;
    padding: 10px;
  }
}