.clothes {
    margin: 0 auto;
    width: 50%;
}

.bottom-sheet {
    background-color: #E3E3E3;
    height: 356px;
    position: fixed;
    margin: auto;
    width: 478px;
    transform: translate3d(0%, 0, 0);
    border-radius: 59.44px;
    bottom: 0;
    backdrop-filter: blur(10px);
}

.title-match {
    line-height: 23.87px;
    font-size: 27px;
    font-weight: 700;
    color: #0C0D34;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.sheet-row-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90px;
}

.pie {
    display: block;
}

.recommendation {
    line-height: 23.87px;
    font-size: 20px;
    font-weight: 500;
    color: #0C0D34;
    text-align: left;
}

.contain {
    width: 169.09px;
    height: 146.38px;
    margin: 0;
}

.sheet-row-2 {
    display: flex;
    justify-content: flex-start;
    height: 90px;
}


@media screen and (max-device-width: 1200px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 412px) {
    .bottom-sheet {
        width: 100%;
    }

    .text {
        width: 194px;
    }

    .clothes {
        margin: 0 auto;
        width: 65%;
    }
    
    .bottom-sheet {
        height: 348px;
    }    
}