.left {
    padding: 25px;
    width: 412px;
    margin: 65px auto;
}

.title-row {
    line-height: 23.87px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.row-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
}

.form-input-height {
    width: 118px;
    height: 76px;
    border-radius: 60px;
    background-color: #414260;
    border: 1px solid #EDEDED;
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.row-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
    margin: 0 auto;
    width: 305px;
    margin-bottom: 105px;
}

.buttons-edit-form {
    display: grid;
    margin: 0 auto;
    width: 305px;
}

.button-edit {
    width: 160px;
    height: 63px;
    font-size: 17px;
    background-color: #2ECDCD;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
}

.button-clear {
    width: 160px;
    height: 63px;
    font-size: 17px;
    background-color: #414260;
    border-radius: 60px;
    cursor: pointer;
    color: #2ECDCD;
    border: 1px solid #EDEDED;
}

.right {
    background-color: #ffffff2e;
    backdrop-filter: blur(23px);
    position: absolute;
    top: 0;
    width: 158px;
    height: 734px;
    right: 0;
    border-radius: 59.44px;
}

.input-box-edit {
    margin-left: 10px;
    position: relative;
    width: 30%;
}

@media screen and (max-width: 767px) {

    .input-box-edit {
        margin-left: 0;
        position: relative;
        width: 30%;
    }

    .button-edit {
        width: 160px;
        height: 60px;
        font-size: 17px;
        margin-bottom: 20px;
    }
    
    .button-clear {
        width: 160px;
        height: 60px;
        font-size: 17px;
    }

    .buttons-edit-form {
        width: 337px;
    }
    
    .row-2 {
        margin-bottom: 0;
    }

    .form-input-height {
        width: 60px;
        height: 60px;
        font-size: 22px;
        letter-spacing: 0.5px;
        padding-right: 42px;
    }

    .right {
        width: 130px;
    }
    
}