.container-step-two {
    width: 385px;
    margin: 50px auto;
}

.age-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 65px !important;
    height: 100px;
}

.input-style-age {
    width: 256px;
    height: 76px;
    border-radius: 60px;
    background-color: #414260;
    border: 1px solid #EDEDED;
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.instruction {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 23.87px;
    text-align: center;
    width: 335px;
    margin: 0 auto;
}