.container-step-three {
    width: 385px;
    margin: 20px auto;
}

.text-three {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 33.41px;
    text-align: center;
    margin: 0 auto;
}


