.modal {
    position: fixed;
    margin: auto;
    width: 478px;
    height: 734px;
    transform: translate3d(0%, 0, 0);
    /* transition: all ease 0.1s; */
    border-radius: 59.44px;
    top: 90px;
}

.modal-button {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.modal-content {
    display: grid;
}

.modal-header {
    border-bottom-color: #eeeeee;
    margin-left: auto;
    margin-right: 37px;
    height: 30px;
}

@media screen and (max-device-width: 1200px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    .modal {
        width: 410px;
    }
}