.range {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    margin-top: 30px;
}

.value {
    font-weight: 500;
    border-radius: 50px;
    font-size: 18px;
    margin-bottom: 55px;
    color: white;
    width: 112.05px;
    height: 40px;
    background-color: #2ECDCD;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.value:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-top-color: #2ECDCD;
    border-bottom: 0;
    margin-left: -12px;
    margin-bottom: -12px;
}

.slider-range {
    width: 371px;
    margin: 0 auto;
    appearance: none;
    height: 5.78px;
    border-radius: 5px;
    background-color: #9B9CA7;
    outline: none;
    margin-bottom: 20px;
    z-index: 10;
}

.slider-range::-webkit-slider-thumb {
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2ECDCD;
    cursor: pointer;
    border-radius: 50%;
    top: 0;
    left: 0;
    border: 4px solid #0C0D34;
    box-shadow: 0 0 0.5px 3px #4b9696;
}

.size {
    display: flex;
    justify-content: space-between;
    width: 360px;
}

.size-text {
    font-weight: 500;
    font-size: 18.48px;
    color: white;
}

.lines {
    display: flex;
    justify-content: space-between;
    width: 340px;
    position: relative;
    bottom: 14px;
}

.line-range {
    background-color: #9B9CA7;
    width: 5.78px;
    height: 19.64px;
    border-radius: 23px;
}

@media screen and (max-device-width: 1200px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    .slider-range {
        width: 320px;
        height: 4px;
    }

    .lines {
        width: 290px;
        bottom: 14px;
    }

    .size {
        width: 300px;
    }

    .line-range {
        width: 4px;
        height: 15px;
    }

    .value {
        font-size: 15px;
        margin-bottom: 55px;
        width: 100px;
        height: 20px;
    }

    .slider-range::-webkit-slider-thumb {
        appearance: none;
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
    }

    .size-text {
        font-size: 15px;
    }
    
}