.step-title {
    font-size: 28px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 33.41px;
    text-align: center;
    text-transform: uppercase;
}

.container {
    width: 410px;
    margin: 0 auto;
}

.text-decoration-3 {
    background-color: #F5F5F5;
    width: 351px;
    height: 3.45px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.text {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 33.41px;
    text-align: center;
}